body{
width:70%;
margin-left: 100px;

}
#form li{
list-style-type:none;

}
#form li input{
margin-left:80px;
}
#form ul author{
margin-right:30px;
}
#form input type{
margin-left:30px;
}
#list table{
 border-style: solid;
 border-color:black;
 
 }
 #list table td{
border-style: solid;
 border-color:black;
 border-width: 1px;
 }
#side-menu{
float:right;


}



 
 








